[Unit]
Description=radarr container

# Specify the dependencies
Wants=network-online.target
After=network-online.target nss-lookup.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest

# Enable auto-update container
AutoUpdate=registry

## 配置文件目录
Volume=/home/deck/containers/radarr:/config:z
## 媒体文件目录
Volume=/home/deck/data:/data:z

HostName=radarr

## 使用 host 网络，方便容器走系统透明代理
## 如果使用 rootless 模式，host 网络不可用，需要注释掉下面一行，然后取消注释端口映射
Network=host
#PublishPort=7878:7878/tcp

## 当前用户 id，按需修改
Environment=PUID=1000
Environment=PGID=1000

Environment=TZ=Asia/Shanghai

## linuxserver.io 的容器在 rootless 模式运行时，可能需要取消注释下面三行
#UIDMap=1000:0:1
#UIDMap=0:1:1000
#UIDMap=1001:1001:64536

[Service]
Restart=on-failure

# Extend Timeout to allow time to pull the image
TimeoutStartSec=600

## 开机自启动，如果不想要容器开机自启，需要注释掉或删掉下面两行
[Install]
WantedBy=default.target
